#footer{
  border-top: 1px solid #000;
  margin-top: var(--margin);
  padding: var(--padding);
  font-size: .85em;
}
#footer p + p::before {
  content:"—";
  display: block;
  margin: 1em 0;
}
#footer a {
  text-decoration: underline;
  text-underline-offset: .25em;
}