#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding);
  border-bottom: 1px solid #000;
  position: sticky;
  top: 0;
  z-index: 2;
  background: var(--background-color);
  height: var(--headerheight);
  overflow: hidden;
  z-index: 10001;
}
#header * {
  font-size: 1rem;
}
#nav {
  display: flex;
}
#nav select {
  margin-left: 1em;
}