
.session-detail > .max {
  display: grid;
  grid-template-columns: var(--yearwidth) 4fr 275px;
  grid-gap: var(--margin);
}
.session-introduction {
  grid-column: 1 / span 4;
}
.session-header {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: var(--yearwidth) 1fr;
  grid-gap: 0 var(--margin);
}
.session-text {
  grid-column: 2;
  grid-row: span 2;
  margin-bottom: 2em;
}

.session-header .session-subtitle {
  font-size: var(--big-size);
  font-family: var(--basefamily);
  margin-top: .5em;
}
.session-aside {
  grid-column: 3;
  font-size: 0.85em;
}

.session-header div{
  grid-column: 2;
  margin-top: 1em;
}

.session-header h1 {
  color: var(--accent-color);
  font-size: var(--huge-size);
  line-height: 1;
}
.session-header h3 {
  background: var(--accent-color);
  display: flex;
  /* padding-top: .6em; */
  align-items: center;
  justify-content: center;
  height: 75%;
  top: 0;
  color: white;
  position: relative;
}

h2 + .main-text {
  margin-top: 1em;
}
.main-text p,
.main-text ul,
.main-text blockquote,
.main-text ol {
  font-size: 1.125em;
}

.main-text h2,
.main-text h3,
.main-text h4,
.main-text p {
  margin: .75em 0;
}
.main-text hr {
  background: none;
  border: none;
  margin: 1em 0;  
}
.main-text hr::before {
  content:"***"
}
.main-text ul {
  list-style-position: inside;
  /* max-width: 42rem; */
  max-width: 75ch;
}
.main-text a {
  text-decoration: underline;
  text-underline-offset:.25em ;
}
.main-text a:hover{
  color: var(--accent-color);
}

.session-text-text p {
  break-inside: avoid;
  margin-top: 0;
}

.session-aside :first-child { margin-top: 0;}
.session-aside p,
.session-aside ul {
  max-width: 28em;
}
.session-aside h2,
.session-aside h3 {
  margin: 1em 0 0;
}

.session-lecturers ul { list-style-type: none; margin: 0; padding: 0; }
.session-lecturers li, .session-lecturers p {display: inline;}
.session-lecturers li:not(:last-child)::after {content: ", ";}
.session-lecturers li:last-child::after { content: ".";}

.session-aside .session-context{
  font-size: 1em;
  margin: 1em 0;
}

.gallery {
  margin: var(--padding) 0 ;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: var(--margin);
  max-width: 2000px;
  padding: 0 var(--padding);
}


.session-gallery{
  border-top: 1px solid #000;
  background: #000;
  color:white;
}
.gallery figure{
  /* box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, .2); */
}
.gallery figcaption {
  --padding: 1.5em;
  font-size: 0.85em;
  padding-left: var(--padding);
}
.gallery p:first-child::before {
  content: "↑ ";
  width: var(--padding);
  margin-left: calc(-1 * var(--padding));
  display: inline-block;
}
.gallery .two_of_three { grid-column: span 4; }
.gallery .one_of_two { grid-column: span 3; }
.gallery .one_of_one { grid-column: span 6; }
.gallery .one_of_three { grid-column: span 2; }


@media (max-width: 800px) {
  .gallery .two_of_three { grid-column: span 1; }
  .gallery .one_of_two { grid-column: span 1; }
  .gallery .one_of_one { grid-column: span 1; }
  .gallery .one_of_three { grid-column: span 1; }
}
